<div style="margin-top: 10px;">
    <div style="text-align: center;">
        <h3 class="andrea-text" style="font-weight: bold; font-size: 44px;">About Me</h3>
    </div>
</div>

<!-- Image and text side by side -->
<div style="display: flex; align-items: center; margin-top: 20px; margin-bottom: 50px;">
    <!-- Image on the left -->
    <div style="flex: 2;">
        <img src="./app/views/imageFolder/kayleeimage.jpg" alt="About Me" style="width: 100%; max-width: 400px; height: auto; border-radius: 8px;">
    </div>
    
    <!-- Text on the right -->
     <!--Make this one line same fonts-->
    <div style="flex: 2; font-size: 14px; color: #333;">
        <h2 class="times-new-roman" style="font-weight: bold; font-size: 25px;">Hi, I am</h2><h2 class="andrea-text">Kaylee</h2>
        <div class="times-new-roman">I discovered my passion for photography in 2017 and have been capturing life's special moments ever since. Over the years, I've had the privilege of photographing countless weddings, portraits, and headshots. What I love most about being a photographer is the creative freedom to explore new ideas and transform them into lasting memories for my clients. My goal is always to make people feel confident and at ease in front of the camera, ensuring a fun and relaxed experience.<br><br>

            I’m deeply committed to the little details, ensuring my clients not only look their best but also feel their best throughout the entire experience. My priority is to go above and beyond, providing the highest level of care and dedication to guarantee ultimate client satisfaction.<br><br>
            
            Outside of photography, I love going to the gym and spending time with my wonderful husband. You can also catch me indulging in a bowl of ice cream or trying out a new recipe.</div>
    </div>
</div>

<!-- Button -->
<div style="text-align: center; margin-bottom: 20px;">
    <a href="/portfolio">
        <button class="times-new-roman" style="background-color: #2D2D2D; color: white; border: none; padding: 15px 30px; font-size: 18px; cursor: pointer; text-align: center; width: 200px;">
            Contact Me
        </button>
    </a>
</div>