<div style="border-top: 0.5px solid black; padding-top: 20px;">
    <div style="margin-top: 50px;">
        <div style="text-align: center;">
            <h3 class="andrea-text" style="font-weight: bold; font-size: 24px;">Kaylee Jean Photography</h3>
            <h5 class="nirpa-text" style="margin-top: 20px; font-size: 18px; color: gray;">Serving Tulsa OK, and beyond!</h6>
        </div>
    </div>
    <div style="margin-top: 50px; display: flex; justify-content: center; gap: 30px;">
        <div style="text-align: center;">
            <img src="./app/views/imageFolder/family1.jpg" style="width: 100%; max-width: 300px;" />
            <p class="andrea-text" style="font-size: 38px; margin-top: 10px;">Familes</p>
        </div>
        <div style="text-align: center;">
            <img src="./app/views/imageFolder/wedding1.jpg" style="width: 100%; max-width: 300px;">
            <p class="andrea-text" style="font-size: 38px; margin-top: 10px;">Weddings</p>
        </div>
        <div style="text-align: center;">
            <img src="./app/views/imageFolder/senior1.jpg" style="width: 100%; max-width: 300px;">
            <p class="andrea-text" style="font-size: 38px; margin-top: 10px;">Seniors</p>
        </div>
    </div>
    <div style="margin-top: 20px;">
        <div style="text-align: center;">
            <h3 class="times-new-roman" style="font-weight: bold; font-size: 24px;">Capturing Moments That Will Last a Lifetime</h3>
            <div class="times-new-roman" style="margin-top: 20px; font-size: 18px; margin-bottom: 50px; max-width: 800px; margin-left: auto; margin-right: auto; padding: 0 20px;">
                Kaylee is a senior, family, and headshot photographer. She began developing her love for photography in 2017. Every picture tells a story, and she believes in the ability to capture the details of every individual. Her favorite thing is to see the joy brought to others when they receive their gallery.
            </div>
        </div>
    </div>
    <div style="margin-top: 20px; margin-bottom: 50px;">
        <!-- <div style="text-align: center;">
            <a href="/portfolio">
                <button class="times-new-roman" style="background-color: #2D2D2D; color: white; border: none; padding: 15px 30px; font-size: 18px; cursor: pointer; text-align: center; width: 200px;">
                    My Portfolio
                </button>
            </a>
        </div> -->
    </div>
</div>