<style>
    .custom-img {
         width: 100%; /* Make the image fit its container's width */
         height: 300px; /* Set a fixed height for all images */
         object-fit: contain; /* Ensures the entire image is visible without cropping */
         background-color: white; /* Background color for any empty space */
     }
     .img-container {
         padding: 5px; /* Adds spacing between images */
     }
</style>
<div>
    <div style="margin-top: 50px;">
        <div style="text-align: center;">
            <h3 class="andrea-text" style="font-size: 44px;">Familes</h3>
        </div>
    </div>
    <div class="container mt-4">
     <div class="row">
         <!-- First Row -->
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes.jpg" alt="Image 1" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes2.jpg" alt="Image 2" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes2.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes3.jpg" alt="Image 3" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes3.jpg')">
         </div>
    
         <!-- Second Row -->
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes4.jpg" alt="Image 4" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes4.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes5.jpg" alt="Image 5" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes5.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes6.jpg" alt="Image 6" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes6.jpg')">
         </div>
    
         <!-- Third Row -->
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes7.jpg" alt="Image 7" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes7.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes8.jpg" alt="Image 8" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes8.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes9.jpg" alt="Image 9" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes9.jpg')">
         </div>
    
         <!-- Fourth Row -->
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes10.jpg" alt="Image 10" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes10.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes11.jpg" alt="Image 11" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes11.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes12.jpg" alt="Image 12" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes12.jpg')">
         </div>
    
         <!-- Fifth Row -->
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes13.jpg" alt="Image 13" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes13.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes14.jpg" alt="Image 14" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes14.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes15.jpg" alt="Image 15" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes15.jpg')">
         </div>
    
         <!-- Sixth Row -->
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes16.jpg" alt="Image 16" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes16.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes17.jpg" alt="Image 17" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes17.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes18.jpg" alt="Image 18" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes18.jpg')">
         </div>
    
         <!-- Seventh Row -->
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes19.jpg" alt="Image 19" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes19.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes20.jpg" alt="Image 20" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes20.jpg')">
         </div>
         <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes21.jpg" alt="Image 21" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes21.jpg')">
         </div>
            <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes22.jpg" alt="Image 21" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes21.jpg')">
         </div>
            <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes23.jpg" alt="Image 21" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes21.jpg')">
         </div>
            <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes24.jpg" alt="Image 21" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes21.jpg')">
         </div>
            <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes25.jpg" alt="Image 21" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes21.jpg')">
         </div>
            <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes26.jpg" alt="Image 21" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes21.jpg')">
         </div>
            <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes27.jpg" alt="Image 21" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes21.jpg')">
         </div>
            <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes28.jpg" alt="Image 21" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes21.jpg')">
         </div>
            <div class="col-md-4 img-container">
             <img src="./app/views/imageFolder/familes/familes29.jpg" alt="Image 21" class="custom-img" ng-click="showImage('./app/views/imageFolder/familes/familes21.jpg')">
         </div>
     </div>
    </div>
</div>


<!-- Modal for Image Preview -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
         <!-- <div class="modal-header">
             <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div> -->
         <div class="modal-body text-center">
             <img id="modalImage" src="" alt="Full Image" class="img-fluid">
         </div>
     </div>
 </div>
</div>