<style>
    .custom-img {
         width: 100%; /* Make the image fit its container's width */
         height: 300px; /* Set a fixed height for all images */
         object-fit: contain; /* Ensures the entire image is visible without cropping */
         background-color: white; /* Background color for any empty space */
     }
     .img-container {
         padding: 5px; /* Adds spacing between images */
     }
</style>

<div>
    <div style="margin-top: 50px;">
        <div style="text-align: center;">
            <h3 class="andrea-text" style="font-size: 44px;">Weddings</h3>
        </div>
    </div>
    <div class="container mt-4">
        <div class="row">
            <!-- First Row -->
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings.jpg" alt="Image 1" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings2.jpg" alt="Image 2" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings2.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings3.jpg" alt="Image 3" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings3.jpg')">
            </div>
       
            <!-- Second Row -->
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings4.jpg" alt="Image 4" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings4.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings5.jpg" alt="Image 5" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings5.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings6.jpg" alt="Image 6" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings6.jpg')">
            </div>
       
            <!-- Third Row -->
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings7.jpg" alt="Image 7" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings7.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings8.jpg" alt="Image 8" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings8.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings9.jpg" alt="Image 9" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings9.jpg')">
            </div>
       
            <!-- Fourth Row -->
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings10.jpg" alt="Image 10" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings10.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings11.jpg" alt="Image 11" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings11.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings12.jpg" alt="Image 12" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings12.jpg')">
            </div>
       
            <!-- Fifth Row -->
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings13.jpg" alt="Image 13" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings13.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings14.jpg" alt="Image 14" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings14.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings15.jpg" alt="Image 15" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings15.jpg')">
            </div>
       
            <!-- Sixth Row -->
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings16.jpg" alt="Image 16" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings16.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings17.jpg" alt="Image 17" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings17.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings18.jpg" alt="Image 18" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings18.jpg')">
            </div>
       
            <!-- Seventh Row -->
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings19.jpg" alt="Image 19" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings19.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings21.jpg" alt="Image 21" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings21.jpg')">
            </div>
       
            <!-- Eighth Row -->
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings22.jpg" alt="Image 22" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings22.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings23.jpg" alt="Image 23" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings23.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings24.jpg" alt="Image 24" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings24.jpg')">
            </div>
       
            <!-- Ninth Row -->
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings25.jpg" alt="Image 25" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings25.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings26.jpg" alt="Image 26" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings26.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings27.jpg" alt="Image 27" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings27.jpg')">
            </div>
       
            <!-- Tenth Row -->
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings28.jpg" alt="Image 28" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings28.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings29.jpg" alt="Image 29" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings29.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings30.jpg" alt="Image 30" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings30.jpg')">
            </div>
       
            <!-- Eleventh Row -->
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings31.jpg" alt="Image 31" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings31.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings32.jpg" alt="Image 32" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings32.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings33.jpg" alt="Image 33" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings33.jpg')">
            </div>
       
            <!-- Twelfth Row -->
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings34.jpg" alt="Image 34" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings34.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings35.jpg" alt="Image 35" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings35.jpg')">
            </div>
            <div class="col-md-4 img-container">
                <img src="./app/views/imageFolder/weddings/weddings36.jpg" alt="Image 36" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings36.jpg')">
            </div>
            <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings37.jpg" alt="Image 34" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings37.jpg')">
           </div>
           <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings38.jpg" alt="Image 35" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings38.jpg')">
           </div>
           <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings39.jpg" alt="Image 36" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings39.jpg')">
           </div>
           <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings40.jpg" alt="Image 34" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings40.jpg')">
           </div>
           <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings41.jpg" alt="Image 35" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings41.jpg')">
           </div>
           <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings42.jpg" alt="Image 36" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings42.jpg')">
           </div>
           <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings43.jpg" alt="Image 34" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings43.jpg')">
           </div>
           <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings44.jpg" alt="Image 35" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings44.jpg')">
           </div>
           <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings46.jpg" alt="Image 36" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings46.jpg')">
           </div>
           <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings47.jpg" alt="Image 35" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings47.jpg')">
           </div>
            <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings48.jpg" alt="Image 48" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings47.jpg')">
           </div>
            <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings49.jpg" alt="Image 35" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings47.jpg')">
           </div>
            <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings50.jpg" alt="Image 35" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings47.jpg')">
           </div>
            <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings51.jpg" alt="Image 35" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings47.jpg')">
           </div>
            <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings52.jpg" alt="Image 35" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings47.jpg')">
           </div>
            <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings53.jpg" alt="Image 35" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings47.jpg')">
           </div>
            <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings54.jpg" alt="Image 35" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings47.jpg')">
           </div>
            <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings55.jpg" alt="Image 35" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings47.jpg')">
           </div>
            <div class="col-md-4 img-container">
               <img src="./app/views/imageFolder/weddings/weddings56.jpg" alt="Image 35" class="custom-img" ng-click="showImage('./app/views/imageFolder/weddings/weddings47.jpg')">
           </div>
        </div>
       </div>
</div>


<!-- Modal for Image Preview -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-dialog-centered">
     <div class="modal-content">
         <!-- <div class="modal-header">
             <h5 class="modal-title" id="imageModalLabel">Image Preview</h5>
             <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
         </div> -->
         <div class="modal-body text-center">
             <img id="modalImage" src="" alt="Full Image" class="img-fluid">
         </div>
     </div>
 </div>
</div>