<div>
    <div>
        <div style="text-align: center; margin-bottom: 40px;">
            <h3 class="andrea-text" style="font-weight: bold; font-size: 24px;">Pricing & Packages</h3>
        </div>
    </div>
    <div class="container marketing" style="margin-top: 40px;">
        <div class="row featurette" style="margin-bottom: 60px;">
            <div class="col-md-7 order-md-2" style="padding: 20px;">
                <h2 class="featurette-heading andrea-text" style="margin-bottom: 20px; font-size: 24px;">Mini Session</h2>
                <div class="times-new-roman">
                    <div style="margin-bottom: 10px;">5-7 Digital Images of Your Choice</div>
                    <div style="margin-bottom: 10px;">45 Minutes</div>
                    <div style="margin-bottom: 10px;">Additional images can be purchased</div>
                    <div style="border-top: 0.5px solid black; margin-top: 30px; padding-top: 10px;">$175</div>
                </div>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="./app/views/imageFolder/sessionPhotos/sessionBanner1.png" height="100%" width="100%" style="padding-right: 50px; padding-bottom: 20px;">
            </div>
        </div>
        <div class="row featurette" style="margin-bottom: 60px;">
            <div class="col-md-7" style="padding: 20px;">
                <h2 class="featurette-heading andrea-text" style="margin-bottom: 20px; font-size: 24px;">Full Session</h2>
                <div class="times-new-roman">
                    <div style="margin-bottom: 10px;">20 Digital Images of Your Choice</div>
                    <div style="margin-bottom: 10px;">60-80 Minutes</div>
                    <div style="margin-bottom: 10px;">Additional images can be purchased</div>
                    <div style="margin-bottom: 10px;">*Three outfit changes are included (Sr Session Only)</div>
                    <div style="border-top: 0.5px solid black; margin-top: 30px; padding-top: 10px;">$275</div>
                </div>
            </div>
            <div class="col-md-5">
                <img src="./app/views/imageFolder/sessionPhotos/sessionBanner2.png" height="100%" width="100%" style="padding-left: 50px; padding-bottom: 20px;">
            </div>
        </div>
        <div class="row featurette" style="margin-bottom: 60px;">
            <div class="col-md-7 order-md-2" style="padding: 20px;">
                <h2 class="featurette-heading andrea-text" style="margin-bottom: 20px; font-size: 24px;">The Ultimate Session</h2>
                <div class="times-new-roman">
                    <div style="margin-bottom: 10px;">40 Plus Digital Images</div>
                    <div style="margin-bottom: 10px;">80 Minutes</div>
                    <div style="margin-bottom: 10px;">*Three outfit changes are included (Sr Session Only)</div>
                    <div style="border-top: 0.5px solid black; margin-top: 30px; padding-top: 10px;">$400</div>
                </div>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="./app/views/imageFolder/sessionPhotos/sessionBanner3.png" height="100%" width="100%" style="padding-right: 50px; padding-bottom: 20px;">
            </div>
        </div>
    </div>
</div>